*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.workImg{
    height: 790px;    
}
.worktext{
		position: absolute;
		left: 1080px;
		top: 750px;
		line-height: 3;
		font-size: 35px;
		margin-left: -10px;

}

.n1{
	font-size: 45px;
}

@media screen and (max-width: 960px){

    .workdiv{
        height: 1700px;
        max-width: 1400px;       
    }

    .worktext{
    	position: absolute;
    	left: 10%;
    	top:  60%;
    	font-size: 80%;
	}
		
	.workImg{
    	height: 40.5%;
    	position: absolute;
    	left: 0%;
    	top:  -5%;
    	
	}

    
    

}